@font-face {
  font-family: "Blade Runner Movie Font";
  src: url("fonts/BladeRunnerMovieFont.eot");
  src: url("fonts/BladeRunnerMovieFont.eot?#iefix") format("embedded-opentype"),
    url("fonts/BladeRunnerMovieFont.woff2") format("woff2"),
    url("fonts/BladeRunnerMovieFont.woff") format("woff"),
    url("fonts/BladeRunnerMovieFont.svg#BladeRunnerMovieFont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  --global_margin: 5px;
}
html,
body {
}
body {
  font-family: Consolas, Roboto, sans-serif;
  background-image: url("/images/background.gif");
  background-size: cover;
}
