@font-face {
  font-family: "Blade Runner Movie Font";
  src: url("fonts/BladeRunnerMovieFont.eot");
  src: url("fonts/BladeRunnerMovieFont.eot?#iefix") format("embedded-opentype"),
    url("fonts/BladeRunnerMovieFont.woff2") format("woff2"),
    url("fonts/BladeRunnerMovieFont.woff") format("woff"),
    url("fonts/BladeRunnerMovieFont.svg#BladeRunnerMovieFont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  --global_margin: 5px;
  font-family: Consolas, Roboto, sans-serif;
  background-image: url("/assets/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: aliceblue;
  overflow-x: hidden;
}
html,
body {
  cursor: url("/assets/cursor_.png"), pointer;
}
body {
  width: 100%;
  height: 100%;
}

button:hover {
  cursor: url("/assets/cursor_.png"), pointer;
}
.ominous-hover-no-rotate {
  animation: float2 4s ease-in-out infinite;
  /* text-shadow: 4px 4px #5c1515; */
  text-shadow: 0px 1px aliceblue, 5px 5px 5px rgba(140, 148, 160, 0.479);
}

@keyframes float2 {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 4px);
  }

  100% {
    transform: translate(0, 0);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
